# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
.venv/
env/
ENV/
bin/
lib/

# Distribuição / Pacotes
dist/
build/
*.egg-info/

# Variáveis de Ambiente (SENSÍVEL)
.env
.flaskenv

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Testes e Coverage
.pytest_cache/
.coverage
htmlcov/
